.App{
  display: flex;
  flex-direction: column;
  width: 100vw;
}
.header{
  text-align: center;
}
.content{
  display: flex;
  flex-direction: row;}
.left{
  display: flex;
  flex-direction: row;
  width: 40vw;
}
.right{
  display: flex;
  width: 60vw;

}